* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: silver;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
}
/** Structure */
#header {
	padding: 20px;
	background: #12407f;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 4px solid #436fac;
}
.float-left {
	float: left;
}
.float-none {
	float: none;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}
#content {
	background: #fff;
	padding: 20px;
}

#content .container .content {
	width: 70%;
}

#timeLogs .headding {
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 16px;
	margin-top: 20px;
}
#timeLogs .row.row-header {
	border: solid 1px #ddd;
	font-weight: 700
}
#timeLogs .row {
	border-bottom: solid 1px #ddd;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-display: flex;
	display: flex;
}
#timeLogs .row .column {
	display: inline-block;
	width: 33.33%;
	border-left: solid 1px #ddd;
	padding: 5px 10px;
}
#timeLogs .row .column:first-child {
	border-left: 0;
}
#content .container .sidebar {
	width: 25%;
}
#content .container .sidebar .add_form .input-box {
	margin-top: 15px;
}
#content .container .sidebar .add_form label {
	width: 90px;
	display: inline-block;
}
#content .container .sidebar .add_form input {
	width: calc(100% - 100px);
	display: inline-block;
	padding: 3px 10px;
}
#content .container .sidebar .add_form input[type="submit"] {
	width: auto;
	margin-left: 100px;
	margin-top: 15px;
}
.pagination {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 10px 0;
	text-align: right;
}
.pagination li {
	display: inline-block;
	border: solid 1px #ddd;
}
.pagination li a {
	padding: 10px;
	display: block;
	text-decoration: none;
	color: #000;
}
.pagination li.active a {
	font-weight: 700;
}
.pagination li.disabled a {
	cursor: not-allowed;
}

.message {
	font-weight: 700;
}
.message.success {
	color: #090;
}
.message.error {
	color: #F00;
}
#all_products .row {
	-webkit-display: flex;
	display: flex;
	flex-wrap: nowrap;
}
#all_products .column {
	width: -webkit-calc(25% - 20px);
	width: calc(25% - 20px);
	margin: 10px;
	padding: 10px;
	border: solid 2px #ddd;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#all_products .column div {
	text-align: center;
	margin-bottom: 10px;
	font-size: 16px;
}
#all_products .column div.name {
	font-weight: bold;
}
#footer {
	background: #12407f;
	color: #fff;
	padding: 20px;
	border-top: 4px solid #436fac;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* Links */
#header a {
	color: #fff;
	background: #436fac;
	padding: 4px 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
}
#header a:hover {
	background: #4d8add
}
/** Forms */
form {
	font: 100% verdana, arial, sans-serif;
}
form label {
	display: block;
	float: left;
	width: 150px;
	padding: 0;
	margin: 9px 0 0;
	text-align: right;
}
form p.desc {
	display: block;
	margin-left: 160px;
	padding: 0;
	text-align: left;
}
form input, form select {
	width: auto;
	margin: 5px 0 0 10px;
	border: 1px solid gray;
	padding: 4px;
}
form input[type=submit]:hover {
	cursor: pointer;
	background: silver;
}
form br {
	clear: left;
}
 @media screen and (max-width: 736px) {
#all_products .column {
	width: -webkit-calc(50% - 20px);
	width: calc(50% - 20px);
}
 @media screen and (max-width: 480px) {
 #content .container .sidebar, #content .container .content {
width:100%;
}
 .float-left, .float-right {
float:none;
}
 .page_title {
display:block;
float:none;
margin-bottom:10px;
}
 #all_products .column {
width: 100%;
}
 form {
 font: 100% verdana, arial, sans-serif;
 display: inline-block;
 width: 100%;
}
 form label {
width:auto;
clear:both;
}
 form#addProduct input, form#addProduct select {
float:right;
}
 .btn {
display:block;
margin-top:10px;
margin-bottom:10px;
}
